{% extends 'base.html' %}

{% block content %}
    <h2>List of Members</h2>
    <p>Number of members: {{ count }}</p>
    {% if members %}
       <table>
            <tr>
                <th>Index</th>
                <th>Primary Key</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            {% for member in members %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ member.pk}}</td>
                    <td>{{ member.username}}</td>
                    <td>{{ member.first_name}}</td>
                    <td>{{ member.last_name}}</td>
                    <td>{{ member.email}}</td>
                </tr>
             {% endfor %}
       </table>
    {% endif %}
{% endblock %}

